odoo-addon-account_move_secondary_unit @ git+https://github.com/qrtl/hls-oca@18.0#subdirectory=account_move_secondary_unit
odoo-addon-product_secondary_unit @ git+https://github.com/qrtl/hls-oca@18.0#subdirectory=product_secondary_unit
odoo-addon-l10n_jp_summary_invoice_secondary_unit @ git+https://github.com/qrtl/hls-oca@18.0#subdirectory=l10n_jp_summary_invoice_secondary_unit
